app-root {
}

.refuge-wrapper {
  display: grid;
  grid-auto-columns: 100vw;
  grid-template-rows: 60px auto min-content;
  z-index: 10;
  height: 100%;
}

.refuge-overlay {
  position: absolute;
  display: flex;
  bottom: 40px;
  width: 100%;
}

.refuge-button {
  width: 100%;
}

.button-spinner {
  color: var(--white);
}

.overlay-hidden {
  visibility: hidden;
}
