refuge-filter {
  grid-row: 3;
  grid-column: span 4;
  width: 100%;
  background: var(--blue-med);
  transition: all 0.25s;
  border-top: 1px solid var(--blue-dark);
  /* Component styles go here */
}

.refuge-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 12px 0;
}

.filter-icon {
  cursor: pointer;
  display: inline;
  color: var(--white);
  align-self: center;
}

.inactive {
  color: var(--dark-blue);
}

.filter {
  display: inline;
  color: var(--white);
}

.left {
  margin-left: 16px;
  text-align: left;
  display: flex;
  align-items: center;
}

.right {
  margin-right: 24px;
  text-align: right;
  display: flex;
  align-items: center;
}

.hidden {
  height: 0;
  padding: 0 0 0 0;
  transition: all 0.25s;
  overflow: hidden;
}
