refuge-predictions {
  position: absolute;
  top: 60px;
  width: 100%;
  max-height: 50vh;
  overflow: scroll;
  list-style-type: none;
  margin: none;
  background: none;
  border-bottom: none;
  box-shadow: none;
  transition: height 0.25s;
}

.open {
  transition: height 0.25s;
  background: var(--white);
  border-bottom: 1px solid var(--light-grey);
  box-shadow: var(--shadow);
}
