refuge-predictions {
  position: absolute;
  top: 60px;
  width: 100%;
  overflow: scroll;
  list-style-type: none;
  margin: none;
  background: none;
  border-bottom: none;
  box-shadow: none;
  transition: height 0.25s;
  z-index: 200;
}

.open {
  transition: height 0.25s;
  background: var(--pale-grey);
  border-bottom: 1px solid var(--med-grey);
  box-shadow: var(--shadow);
  min-height: 80vh;
}
